// Footer
footer {
   background-color: $primery;
   padding-top: 65px;
   padding-bottom: 90px;
   @media (max-width: $breakpoint768) {
    padding: 35px 0;
 }
}


.footer {
    display: flex;
    justify-content: space-between;
    @media (max-width: $breakpoint768) {
       flex-wrap: wrap;
     }
		// .footer__item

		&__item {
            max-width: 345px;
            width: 100%;
            display: flex;
            flex-direction: column;
            @media (max-width: $breakpoint768) {
                flex: 0 1 100%;
                max-width: 100%;
             }
		}

		// .footer__logo

		// &__logo {
		// }

		// .footer__text

		&__text {
            margin-top: 22px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #FFFFFF;
		}

		// .footer__copy

		&__copy {
            max-width: 168px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;   
            color: #D6D5DF;
            margin-top: auto;
            @media (max-width: $breakpoint768) {
               margin-top: 20px;
             }
		}

		// .footer__title

		&__title {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 16px;
            color: #FFFFFF;
            margin-top: 38px;
		}

		// .footer__input

		&__input {
            padding: 20px 60px 20px 20px;
            border-radius: 4px;
            outline: none;
            width: 100%;
            @media (max-width: $breakpoint768) {
                padding: 15px 60px 15px 15px;
             }
            &:focus {
                outline: 1px solid $neutral;
            }
		}

		// .footer__btn

		&__btn {
            width: 40px;
            height: 40px;
            position: absolute;
            right: 8px;
            top: 8px;
            bottom: 8px;
            background-color: $neutral;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            @media (max-width: $breakpoint768) {
                width: 35px;
                height: 35px;
                top: 4px;
                bottom: 4px;
                right: 4;
             }
            &:hover {
                background-color: $neutralDark;
                transition: .3s all ease;
            }
		}

		// .footer__social

		&__social {
            display: flex;
            margin-top: 32px;
            justify-content: space-between;
		}

		// .footer__social-item

		&__social-item {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $secondary;
		}

		// .footer__social-link

		&__social-link {
            display: flex;
            &:hover {
                .social__path {
                    fill: #cd201f;
                    transition: .3s all ease;
                }
            }
		}
}

.form {

		// .form__label

		&__label {
            background-color: #FFFFFF;
            border-radius: 4px;
            margin-top: 12px;
            position: relative;
            display: flex;
		}

		// .form__text

		&__text {
            margin-top: 10px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #FFFFFF;
		}
}
