// Container
.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 120 + px;


    @media (max-width: $breakpoint992) {
        max-width: 970px;
        padding: 0 53px;
    }

    @media (max-width: $breakpoint768) {
        max-width: 740px;
    }

    @media (max-width: $breakpoint480) {
        max-width: none;
        padding: 0 15px;
    }
}

// Body Locked
body {
    font-family: $fontMain;
    font-weight: 300;
    font-style: normal;
    color: $text;
    &.locked {
        overflow: hidden;
    }
}

// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.btn {
    background-color: $text;
    border-radius: 4px;
    color: #ffffff;
    padding: 11px 24px;
    display: inline-flex;
    gap: 7px;
    transition: .3s all ease;
    &:hover{
        background-color: $text;
        svg {
            transform: translate(5px, -5px);
            transition: .3s all ease;
        }
    }
}

.btn__outline {
    border-radius: 4px;
    color: $text;
    padding: 11px 24px;
    display: inline-flex;
    gap: 7px;
    transition: .3s all ease;
    &:hover{
        color: $text;
        transition: .3s all ease;
    }
}

// .section__title

.section__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: $text;
    @media (max-width: $breakpoint992) {
       font-size: 32px;
       line-height: 120%;
    }
    @media (max-width: $breakpoint480) {
       font-style: 26px;
    }
}

// .section__subtitle

.section__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-top: 15px;
    color: $text;
    @media (max-width: $breakpoint480) {
        margin-top: 10px;
    }
}
