// Header

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    z-index: 1;
    // .header__inner
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 120px;
        @media (max-width: $breakpoint768){
            justify-content: space-between;
            row-gap: 0px;
         }
    }
}

.logo {
    // .logo__box
    &__box {
        flex: 0 1 50%;
        @media (max-width: $breakpoint768){
            z-index: 3;
            flex: 0 1 auto;
            order: 1;
         }
    }
}

.menu {
    display: flex;
    @media (max-width: $breakpoint768) {
        order: 1;
    }
    // .menu__btn
    &__btn {
        width: 23px;
        height: 17px;
        background: transparent;
        position: relative;
        display: none;
        transition: .5s all;
        &::after,
        &::before {
            position: absolute;
            content: '';
            background: $text;
            height: 2px;
            width: 100%;
            left: 0;
        }
        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
        & span {
            background: $text;
            height: 2px;
            position: absolute;
            top: 8px;
            left: 0;
            width: 100%;
        }
        @media (max-width: $breakpoint768){
           display: block;
           transition: all .5s;
           &.burger {
            z-index: 3;
            &::before {
                top: 0;
                transform: rotate(-45deg) translate(-3px, 9px);
                transition: all .5s;
            }
            &::after {
                bottom: 0;
                transform: rotate(45deg) translate(-2px, -8px);
                transition: all .5s;
            }
            & span {
                display: none;
                transition: all .5s;
            }
           }
        }
        @media (max-width: $breakpoint480) {
            &.burger {
                right: 15px;
            }
        }
    }
    // .menu__list
    &__list {
        display: flex;
        flex-direction: column;
        flex: 0 1 100%;
        @media (max-width: $breakpoint768){
            transform: translateX(-300%);
            position: absolute;
            background: $menuBg;
            gap: 35px;
            padding: 150px 0 0 53px;
            top: 0;
            left: 0;
            right: 0;
            height: 100vh;
            transition: .5s;
            &.active { 
                transition: .5s;
                transform: translateX(0);
                z-index: 2;
            }
        }
        @media (max-width: $breakpoint480) {
            padding-left: 15px;
        }
    }
    // .menu__list-item
    // &__list-item {
    // }
    // .menu__list-link
    &__list-link {
        text-transform: uppercase;
        font-size: 10px;
        line-height: 14px;
        color: $text;
        position: relative;
        &::before {
            position: absolute;
            content: url(../assets/icons/before-menu-item.svg);
            left: -20px;
            display: none;
            transition: all .5s;
        }
        @media (max-width: $breakpoint768) {
            font-size: 13px;
            line-height: 18px;
        }
    }
    // .menu__list-link--active
    &__list-link--active {
        font-weight: 700;
        &::before {
            display: block;
            @media (max-width: $breakpoint480) {
                display: none;
            }
        }
    }
    
}

.user-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 50%;
    @media (max-width: $breakpoint768){
        flex: 0 1 auto;
    }
    // .user-nav__items
    &__items {
        display: flex;
        align-items: flex-end;
        gap: 11px;
        @media (max-width: $breakpoint768) {
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 35px;
            z-index: 2;
            top: 410px;
            left: 0;
            padding-left: 53px;
            align-items: baseline;
            transform: translateX(-300%);
            transition: all .5s;
            &.user-nav__items--active {
                transform: translateX(0);
                transition: all .5s;
                z-index: 3;
            }
        }
        @media (max-width: $breakpoint480) {
            padding-left: 15px;
        }
    }
    // .user-nav__link
    &__link {
        font-family: $fontMain;
        color: $opacitygray;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 18px;
    }
    // .user-nav__title
    &__title {
        display: none;
        font-size: 13px;
        @media (max-width: $breakpoint768) {
            display: flex;
        }
    }
    // .user-nav__link-img
    &__link-img {
        font-size: 16px;
        line-height: 18px;
        @media (max-width: $breakpoint768){
            display: none;
        }
    }

    .nav {
        // .nav__search
        &__search {
            display: flex;
            align-items: center;
            height: 36px;
            border-radius: 40px;
            padding: 10px 0 10px 10px;
            margin-right: 12px;
            &:hover > input {
                width: 150px;
                // position: absolute;
                // bottom: -2px;
                // width: 150px;
                // background: #a5a5a5;
                // border-radius: 50px;
                // padding: 0px;
                // display: flex;
                // left: 0;
            }
            &:hover {
                background-color: $superLightGray;
            }
            // &:hover > .nav__search-icon {
            //     background-color: $superLightGray;
            // }
        }
        // .nav__input
        &__input {
            // background: transparent;
            // font-size: 10px;
            // line-height: 14px;
            // text-transform: capitalize; 
            // color: $text;
            // outline: $opacitygray;
            width: 0;
            border: none;
            outline: none;
            padding: 0;
            background: none;
            font-size: 10px;
            transition: .5s ease;
            line-height: 40px;
            color: $text;
            &::placeholder {
                font-size: 10px;
                line-height: 14px;
                padding: 10px;
            }
            @media (max-width: $breakpoint768){
                // display: none;
            }
        }
        // .nav__input-img
        // &__input-img {
        //     // order: -1;
        // }
        &__search-icon {
            color: $opacitygray;
            float: right;
            font-size: 16px;
            border-radius: 50%;
            background-color: $gray;
            height: 36px;
            width: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .4s;
            cursor: pointer;
            text-decoration: none;
        }
    }
}

.way {
    position: relative;
    height: 100vh;
    background: url(../assets/images/way-bg.jpg) no-repeat center;
    background-size: cover;
    @media (max-width: $breakpoint480) {
        background-image: url(../assets/images/way-bg-mobile.jpg);
    }
    &__title {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: flex-end;
        align-items: flex-end;
        padding-bottom: 120px;
    }
    &__link {
        font-family: $fontSecondary;
        font-weight: bold;
        font-size: 96px;
        line-height: 122px;
        color: $white;
    }
}

.range {
    // .range__items
    &__items {
        display: flex;
        align-items: center;
        @media (min-width: $breakpoint1920) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: $breakpoint768){
            flex-wrap: wrap;
        }
    }
    // .range__item
    &__item {
        @media (max-width: $breakpoint768) {
            max-width: 100%;
            width: 100%;
        }
        &:nth-child(2) {
            order: -1;
        }
    }
    // .range__link
    // &__link {
    // }
    // .range__img
    &__img {
        max-width: 100%;
        object-fit: cover;
        @media (min-width: $breakpoint1920) {
            width: 100%;
            height: 70vh;
        }
        @media (max-width: $breakpoint768) {
            width: 100%;
            object-position: top;
            height: 33vh;
        }
    }
}

.footer {
    padding: 100px 0 80px 0;
    @media (max-width: $breakpoint480) {
        padding: 40px 0 50px 0;
    }
		// .footer__inner
		&__inner {
            display: flex;
            flex-direction: column;
            gap: 30px;
		}
		// .footer__list
		&__list {
            display: flex;
            justify-content: center;
            gap: 52px;
            @media (max-width: $breakpoint768) {
                gap: 20px;
            }
            @media (max-width: $breakpoint480) {
                flex-direction: column;
                align-items: center;
            }
		}
		// .footer__item
		// &__item {
		// }
		// .footer__item-link
		&__item-link {
            font-size: 10px;
            line-height: 14px;
            color: $text;
		}
		// .footer__copy
		&__copy {
            margin: 0 auto;
            font-size: 10px;
            line-height: 14px;
            text-transform: lowercase;
            color: $lightgray;
		}
}

