.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /* фоновый цвет */
    background: $blue;
    z-index: 1001;
  }
  
  .preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-scale 4s infinite linear;
  }
  
  @keyframes preloader-scale {
    0% {
        opacity: 0;
        transform: scale(3);
    }

    75% {
        opacity: .75;
        transform: scale(11);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }   
  }

  @media (max-width: $breakpoint768) {
    @keyframes preloader-scale {
        0% {
            transform: scale(1);
        }
    
        75% {
            transform: scale(7);
        }
    
        100% {
            transform: scale(1);
        }
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }