// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1440;
$containerPadding: 120;
$containerSidePadding: 40;//math.div($containerPadding, 2)
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 483.98 + px;

// Colors
$text: #60676B;
$white: #ffffff;
$gray: #CCCCCC;
$lightgray: #979797;
$opacitygray: #A5A5A5;

// Burger Menu
$burgerBreakpoint: $breakpoint768;
$burgerColor: $text;
$burgerActiveColor: #fff;

// Fonts
$fontMain: 'Helvetica', sans-serif;
$fontSecondary: 'Druk Cyr', sans-serif;
