// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1440;
$containerPadding: 120;
$containerSidePadding: 40;
$breakpoint1920: 1919.98 + px;
$breakpoint1280: 1279.98 + px;
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 483.98 + px;

// Colors
$text: #60676B;
$white: #ffffff;
$gray: #CCCCCC;
$lightgray: #979797;
$opacitygray: #A5A5A5;
$superLightGray: #E0E0E0;
$menuBg: #F0F0F0;
$blue: #8CC7EC;

// Fonts
$fontMain: 'Helvetica', sans-serif;
$fontSecondary: 'Druk Cyr', sans-serif;
